<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="header">
        <a class="navbar-brand" href="/">Tori's Projects</a>
    </div>
    <div class="pull-right">
      <a href="/projects/new" class="btn btn-outline-primary">New Project</a>
    </div>
  </div>
</nav>
