<div class="row">
  <div class="col-sm-12 col-sm-offset-6">
    <form method="POST" action="/projects/{{project._id}}?_method=PUT">
      {{> projects-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Project</button>
      </div>
    </form>

      <form method="POST" action="/projects/{{project._id}}?_method=DELETE">
          <button class="btn btn-outline-danger" type="submit">Delete</button>
      </form>
  </div>
</div>
